
.circle {
    width: 200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin: 20px;
}


#red {
	background-color: red;
}

#blue {
	background-color: blue;
}

#green {
	background-color: green;
}
